<html>
  <head>
    <title>Questão Incorreta</title>
    <h1>Questão Vazia</h1>
    <p>Questão Inválida, igual a zero ou Vazia</p>
    <script>
      confirm('Questão Incorreta ou Inválida')
      window.location.replace(history.go(-1))
    </script>
  </head>
</html>
